[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=3
immutability=1
isPreferredForShortcuts=false
lastScreen=11
location=6
name=
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=1000
timerShow=500
viewType=0
visibility=5
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=2

[Containments][1][Applets][2][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop,applications:chromium-browser.desktop,applications:codium.desktop,applications:systemsettings.desktop,applications:Alacritty.desktop,applications:telegramdesktop.desktop,applications:org.kde.spectacle.desktop
manualScrollTasksType=Disabled

[Containments][1][Applets][25]
immutability=1
plugin=org.kde.plasma.trash

[Containments][1][Applets][25][Configuration]
PreloadWeight=2

[Containments][1][ConfigDialog]
DialogHeight=1386
DialogWidth=840

[Containments][1][Configuration]
PreloadWeight=2

[Containments][1][General]
advanced=false
alignmentUpgraded=true
appletOrder=2;25
durationTime=x1
iconSize=50
maxLength=37
panelSize=100
panelTransparency=35
plasmaBackgroundForPopups=true
shadowOpacity=60
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
tasksUpgraded=true
zoomLevel=2

[Containments][1][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
lengthPadding=0.1

[Containments][3]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=11
location=3
name=
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=0
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][3][Applets][23]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][3][Applets][23][Configuration]
PreloadWeight=100

[Containments][3][Applets][23][Configuration][General]
favoritesPortedToKAstats=true
systemApplications=systemsettings.desktop,org.kde.kinfocenter.desktop

[Containments][3][Applets][28]
immutability=1
plugin=org.kde.plasma.pager

[Containments][3][Applets][28][Configuration]
PreloadWeight=2

[Containments][3][Applets][28][Configuration][ConfigDialog]
DialogHeight=840
DialogWidth=1120

[Containments][3][Applets][6]
immutability=1
plugin=org.kde.plasma.appmenu

[Containments][3][Applets][6][Configuration]
PreloadWeight=2

[Containments][3][Applets][7]
immutability=1
plugin=org.kde.plasma.digitalclock

[Containments][3][Applets][7][Configuration]
PreloadWeight=37

[Containments][3][Applets][7][Configuration][Appearance]
customDateFormat=ddd dd
dateFormat=custom
fontFamily=JetBrains Mono

[Containments][3][Applets][7][Configuration][ConfigDialog]
DialogHeight=840
DialogWidth=1120

[Containments][3][Applets][8]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][3][Applets][8][Configuration]
PreloadWeight=100
SystrayContainmentId=9

[Containments][3][ConfigDialog]
DialogHeight=1388
DialogWidth=840

[Containments][3][Configuration]
PreloadWeight=2

[Containments][3][General]
alignment=10
alignmentUpgraded=true
animationLauncherBouncing=false
animationWindowAddedInGroup=false
animationWindowInAttention=false
appletOrder=23;6;28;8;7
appletShadowsEnabled=false
dragActiveWindowEnabled=true
iconSize=30
inConfigureAppletsMode=true
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=35
plasmaBackgroundForPopups=true
shadows=None
shadowsUpgraded=true
solidBackgroundForMaximized=true
splitterPosition=3
splitterPosition2=4
tasksUpgraded=true
titleTooltips=false
userBlocksColorizingApplets=23;6;8;7
windowColors=TouchingWindowColors
zoomLevel=0

[Containments][3][Indicator]
customType=
enabled=true
enabledForApplets=true
padding=0.07999999821186066
type=org.kde.latte.default

[Containments][9]
PreloadWeight=2
activityId=
formfactor=2
immutability=1
lastScreen=11
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][9][Applets][10]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][9][Applets][10][Configuration]
PreloadWeight=32

[Containments][9][Applets][11]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][9][Applets][11][Configuration]
PreloadWeight=12

[Containments][9][Applets][12]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][9][Applets][12][Configuration]
PreloadWeight=32

[Containments][9][Applets][12][Configuration][ConfigDialog]
DialogHeight=840
DialogWidth=1120

[Containments][9][Applets][13]
immutability=1
plugin=org.kde.kdeconnect

[Containments][9][Applets][13][Configuration]
PreloadWeight=42

[Containments][9][Applets][14]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][9][Applets][14][Configuration]
PreloadWeight=2

[Containments][9][Applets][17]
immutability=1
plugin=org.kde.plasma.volume

[Containments][9][Applets][17][Configuration]
PreloadWeight=67

[Containments][9][Applets][19]
immutability=1
plugin=org.kde.plasma.battery

[Containments][9][Applets][19][Configuration]
PreloadWeight=37

[Containments][9][Applets][20]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][9][Applets][20][Configuration]
PreloadWeight=2

[Containments][9][Applets][21]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][9][Applets][21][Configuration]
PreloadWeight=100

[Containments][9][Applets][29]
immutability=1
plugin=org.kde.kscreen

[Containments][9][Applets][29][Configuration]
PreloadWeight=12

[Containments][9][Applets][42]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][9][Applets][42][Configuration]
PreloadWeight=10

[Containments][9][Applets][43]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][9][Applets][43][Configuration]
PreloadWeight=7

[Containments][9][ConfigDialog]
DialogHeight=840
DialogWidth=1120

[Containments][9][General]
extraItems=org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.bluetooth,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.volume,org.kde.kscreen,org.kde.kdeconnect
hiddenItems=org.kde.kscreen,org.kde.plasma.devicenotifier
knownItems=org.kde.plasma.battery,org.kde.plasma.clipboard,org.kde.plasma.devicenotifier,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,org.kde.plasma.bluetooth,org.kde.plasma.keyboardindicator,org.kde.plasma.keyboardlayout,org.kde.plasma.networkmanagement,org.kde.plasma.nightcolorcontrol,org.kde.plasma.printmanager,org.kde.plasma.volume,org.kde.kdeconnect

[LayoutSettings]
background=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
icon=
lastUsedActivity=f1b34793-98a9-433c-ae75-b6b6853e2a37
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
textColor=fcfcfc
version=2
